.c1{
    display: flex;
    justify-content: center;
    align-items: center; 
    color:azure;
}

.d1{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;    
    margin: 1px;
    background-color:darkcyan;
    font-size: 50px;
    
}